<script src="https:\\ajax.googleapis.com/ajax/libs/iquery/3.2.1/iquery.min.js"
<script src="indexjs"></script>
<link rel="stylesheet" href="index.css">
<h1>Welcome fortnite defaults
!</h1>
<p>hi every one
!
</p>


<img src="https://sg.fiverrcdn.com/photos/113896058/original/45a8425c7bd9ed8628c9854041fb689fd83fcae0.jpg?1530816808" height="400">
<img src="https://media.makeameme.org/created/why-u-bully-5b8f38.jpg">
<img src="https://media.giphy.com/media/iMBEVqJRJkEQC5EGa2/giphy.gif">

<ul>
    <li><input type="checkbox"><a href="show/1">8.00 wake up </a><input type="number"placeholder="pomadoro" ><//li>
    



<li><input type="checkbox"><a href="show/2">10.00 go to class</a></li>
<li><input type="checkbox"><a href="show/3">eat lunch at 12.00</a></li>
 <li><input type="checkbox">call mom at 1.00 <input type="number"placeholder="pomadoro" ></li>




<li><input type="checkbox">go to the gym at 2.00
</li>
<li><input type="checkbox">go to work at 5.00 </li>
</ul> <li><input type="checkbox"></li>




<li><input type="checkbox">hello world
</li>
<li><input type="checkbox">carmax is the best</li>
 <li><input type="checkbox"> 
 <span class="span1">unique </span>
 <span class="span2">mom</span>
 </li>




<li><input type="checkbox"><span>hello world </span>
</li>
<li><input type="checkbox">carmax is the best</li>
 <li><input type="checkbox">hi mom</li>
<li><input type="checkbox">hello world
</li>
<li><input type="checkbox">carmax is the best</li>
<input type="number">
<input type="string" placeholder="last name">
<input type="submit">
<input type="submit"id="submit">
<a href="show.html"><show class="html"></show></a>
<select><option value="text">red</option>
<option value="blue">blue</option>
<option value="purple">purple</option>
<option value="black">black</option>
<option value="green">green</option>
<option value="yellow">yellow</option>
<option value="white">white</option>

</select> 
